div.ant-upload-list.ant-upload-list-text {
  display: none !important;
  &:before {
    display: none !important;
  }
}
.ant-upload-list-item-container {
  &:before {
    display: none;
    .ant-upload-wrapper.ant-upload-list.ant-upload-list-itemm-uploading {
      display: none !important;
      .ant-upload-icon {
        display: none !important;
      }
    }
  }
}

.ant-image-mask {
  width: 190px;
  height: 130px;
  margin-top: -10px;
  margin-left: -10px;
}

.project-drawer-add {
  title {
    font-family: "Montserrat";
    font-weight: 600;
    color: #c95b5b !important;
  }
}

.project-form-add {
  label {
    font-family: "Montserrat";
    font-weight: 600;
    color: #304fa3 !important;
  }
  input {
    font-family: "Montserrat";
  }
  .ant-input-number-input-wrap {
    input {
      font-family: "Montserrat";
    }
  }
  .ant-select-selector {
    font-family: "Montserrat";
  }
  button {
    font-family: "Montserrat";
    span {
      font-weight: 600;
    }
    span.anticon.anticon-plus {
      color: #304fa3 !important;
    }
  }
  textarea {
    font-family: "Montserrat";
  }
}

.ant-table-title {
  span.title {
    font-family: "Montserrat";
    font-weight: 600;
    color: #d74b57;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 10px;
  }
}

.ant-table-content {
  font-family: "Montserrat";
  .ant-table-cell {
    font-weight: 500;
  }
}

.project-detail{
  th.ant-descriptions-item-label{
    background-color: #dceaff !important;
    color: #134488 !important;
    width: 188px !important;
    line-height: 30px;
  }
  td.ant-descriptions-item-content {
    color: #003989;
    line-height: 30px;
    font-weight: 500;
    width: 200px !important;
  }
  
}

