.btn-group-form {
  margin-top: 20px;
  Button.btn.btn-success {
    height: 40px;
    background: #2d9953;
    border: none;
    font-weight: 500;
    font-size: 15px;
    margin-right: 10px;
    &:hover {
      color: #ffffff;
    }
  }
  Button.btn.btn-danger {
    height: 40px;
    background: #b13641;
    border: none;
    font-weight: 500;
    font-size: 15px;
    &:hover {
      color: #ffffff;
    }
  }
}

.ant-select-selector {
  span.ant-select-selection-item {
    font-family: "Montserrat";
    font-weight: 500;
  }
}
