.container .row {
  //   max-width: 1320px;
  margin: 0 auto;
}

.project-list {
  display: flex;
  flex-wrap: wrap;

  .project-card {
    position: relative;
    width: 300px;
    margin-left: 50px;
    margin-bottom: 60px;
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    height: 550px;

    .project-img-card {
      position: relative;
      height: 225px;

      &:hover {
        .project-img {
          opacity: 0.7;
        }
        p.status-hover-pending,
        p.status-hover-success,
        p.status-hover-cancelable {
          bottom: 172px;
          visibility: visible;
          opacity: 1;
        }
      }

      .project-img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        height: 188px;
      }
    }
  }

  .project-content {
    padding: 15px;
    position: relative;
    top: -35px;

    .project-title {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      font-size: 16px;
      line-height: 27px;
      color: #182838;
      font-weight: 600;
      &:hover {
        color: #3968af;
      }
    }

    .project-description {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      margin-top: -7px;

      p {
        line-height: 30px !important;
        font-weight: 400;
        margin-top: 5px;
      }
    }

    .project-amountRequest {
      margin-top: 10px;
      color: red;
      font-weight: 800;
      font-size: 16px;
    }

    .project-amountReceipt {
      color: #159333;
      font-weight: 800;
      font-size: 16px;
      margin-top: -10px;
    }

    .project-amountRequest span {
      font-weight: 600;
      color: #698dc3;
      font-size: 15px;
    }

    .project-amountReceipt span {
      font-weight: 600;
      color: #084298;
      font-size: 15px;
    }

    .btn {
      padding: 10px !important;
      margin-left: 30%;
      margin-top: 22px;
      font-weight: 500;
    }
  }
}

.types-container {
  .types-text {
    font-size: 16px;
    color: blue;
    font-weight: 600;
  }
}

.ant-tabs-tab-btn {
  font-size: 16px;
  font-weight: 500;
}

.project-row1 {
  font-family: "Montserrat, sans-serif";
  p.project-title {
    font-size: 18px;
    font-family: "Montserrat";
    font-weight: 600;
    margin-top: -20px;
    color: #c31122;
    img {
      width: 25px;
      padding-top: 27px;
      margin-right: 10px;
    }
  }
  p.project-status {
    font-size: 15px;
    font-family: "Montserrat";
    font-weight: 600;
    color: #2eb576;
    font-style: italic;
    text-align-last: right;
    span {
      color: #767676;
      font-style: italic;
    }
  }
}

.project-row2 {
  margin-top: -25px;
  .project-info {
    font-family: "Montserrat";
    font-size: 15px;
    padding-right: 25px;
    padding-left: 30px;
    p.project-amountRequest {
      color: #202020;
      font-weight: 500;
      span {
        font-weight: 600;
        color: #1c6bc5;
        margin-left: 20px;
        font-size: 16px;
      }
    }
    p.project-amountReceipt {
      color: #202020;
      font-weight: 500;
      span {
        font-weight: 600;
        color: #01b93e;
        margin-left: 20px;
        font-size: 16px;
      }
    }
    p.project-numVolunteers {
      margin-top: 25px;
      color: #202020;
      font-weight: 500;
      span {
        font-weight: 600;
        color: #1c6bc5;
        margin-left: 20px;
        font-size: 16px;
      }
    }
    .progress {
      margin-top: 20px;
    }
    .project-table {
      margin-top: 25px;
      p {
        color: #202020;
        font-weight: 500;
      }
      table {
        font-family: "Montserrat";
        font-size: 15px;
        tbody {
          font-weight: 500;
        }
      }
      .ant-pagination {
        visibility: hidden;
      }
    }
  }
  .project-image-carousel {
    img {
      height: 400px;
      width: 600px;
    }
  }
}

.project-row3 {
  margin-top: -50px;
  padding-left: 25px;
  button.btn.btn-info {
    font-family: "Montserrat";
    padding: 10px;
    background: #4a9a4d;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    margin-right: 10px;
    border: none;
  }
  button.btn.btn-danger {
    font-family: "Montserrat";
    padding: 10px;
    background: #d45a5a;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    border: none;
  }
}

.project-row4 {
  margin-top: 20px;
  padding-left: 25px;
  text {
    font-size: 15px;
    font-family: "Montserrat";
    line-height: 30px;
    text-align: justify;
    font-weight: 400;
  }
}

.project-row5 {
  margin-top: 20px;
  padding-left: 25px;
  font-family: "Montserrat";
  .project-text {
    p.project-text {
      color: red;
      font-style: italic;
      font-family: "Montserrat";
      font-weight: 600;
    }
  }
  p {
    color: #202020;
    font-weight: 500;
    span {
      font-weight: 500;
      color: #0f3d72;
      margin-left: 5px;
      font-size: 15px;
    }
  }
  .project-time-left {
    font-family: "Montserrat";
    p {
      color: #202020;
      font-weight: 500;
      span {
        font-weight: 500;
        color: #0f3d72;
        margin-left: 5px;
        font-size: 15px;
      }
    }
  }
  .project-time-right {
    font-family: "Montserrat";
    p {
      color: #202020;
      font-weight: 500;
      span {
        font-weight: 500;
        color: #0f3d72;
        margin-left: 5px;
        font-size: 15px;
      }
    }
  }
}

.project-row6 {
  font-family: "Montserrat, sans-serif";
  padding-left: 25px;
  p.project-title {
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 600;
    margin-top: -20px;
    color: #396bc7;
    img {
      width: 25px;
      padding-top: 27px;
      margin-right: 10px;
    }
  }
}

//tien do
.project-tab {
  font-family: "Montserrat, sans-serif";
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 600;
  margin-top: -20px;
  // color: #c31122;
  img {
    width: 25px;
    padding-top: 27px;
    margin-right: 10px;
  }
}

//donate
.project-donation {
  background-image: url(../assets/images/banner.jpg);
}

form.project-form {
  width: 1000px;
  margin-left: 180px;
  span.ant-divider-inner-text {
    font-size: 16px;
    font-weight: 600;
    color: #1b5d91;
    font-family: "Montserrat";
  }
  .ant-tabs-nav-list {
    background: rgb(213, 232, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    .ant-tabs-ink-bar .ant-tabs-ink-bar-animated {
      left: 0px;
      width: 150px;
    }
  }
  .ant-form-item-label > label {
    font-size: 15px !important;
    font-family: "Montserrat";
    font-weight: 500 !important;
  }
  input,
  textarea {
    font-size: 15px !important;
    font-family: "Montserrat";
    font-weight: 500 !important;
  }
  .ant-input-number .input-money {
    width: 250px;
    font-family: "Montserrat";
  }
  input#nest-messages_artifact_user_name {
    width: 200px;
  }
  .ant-input-number .input-quantity,
  .ant-input-number .input.input-donvi {
    width: 120px;
  }
}
