.report-payment {
  .ant-table-row {
    height: 65px !important;
    text-align: center !important;
  }
  td.ant-table-cell {
    text-align: "-webkit-center";
  }
  .ant-btn-default{
    font-size: 15;
    font-family: "Montserrat";
    background: "#d95c5c !important";
    height: "40px!important"
  }
}
