@import "./vars.scss";
@import "./helper.scss";
@import url("https://fonts.googleapis.com/css2?family=Literata:opsz,wght@7..72,400;7..72,500;7..72,600;7..72,700&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap");

a {
  color: #673ab7;

  &:hover,
  &:focus {
    color: darken(#673ab7, 15%);
  }
}

.form-wrapper {
  display: flex;
  align-items: center;
  .card {
    margin-top: 50px !important;
    border: none;
    margin: auto;
    min-width: 0;
    width: 1200px; /* or whatever width you want. */
    max-width: 1200px; /* or whatever width you want. */
    border-radius: 70px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.16);
    overflow: hidden;
    font-family: "Montserrat", sans-serif;
    .row {
      .col {
        padding: 30px;
        min-height: 500px;

        &:first-child {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          text-align: center;
          background-size: cover !important;
          background-position: center !important;
          position: relative;

          & > * {
            position: relative;
            z-index: 1;
          }

          &:before {
            content: "";
            display: block;
            background: hsla(0, 0%, 100%, 0.96);
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
          }

          .logo {
            width: 220px;
            margin-bottom: -70px;
            margin-top: 50px;
          }
        }

        &:last-child {
        }
      }
    }
    .btn-primary {
      background: linear-gradient(90deg, #ff4955, #673ab7) !important;
      border: none;
      border-radius: 10px !important;
    }

    .btn-outline-primary {
      border-color: #673ab7;
      color: #673ab7;

      &:hover,
      &:focus,
      &:active {
        border-color: none !important;
        color: white;
        background: linear-gradient(90deg, #ff4955, #673ab7) !important;
      }
    }
  }
}
.form-group {
  margin-bottom: 20px;

  .form-icon-wrapper {
    position: relative;

    .form-control {
      height: auto;
      padding: 13px 20px;
      padding-left: 45px;
      border: none;
      background: darken(white, 5%);
      border-radius: 10px !important;

      &:focus {
        box-shadow: none;
        color: black;
        background: darken(white, 8%);
      }
    }

    .form-icon-left,
    .form-icon-right {
      padding: 0;
      transform: translateY(-50%);
      top: 25px;
      font-size: 16px;
      border: none;
      position: absolute;
      z-index: 4;
      background: none;
      transition: opacity 0.3s;
      color: darken(white, 30%);
    }
    .is-invalid-input {
      padding-left: 45px;
      height: 50px;
      z-index: 4;
      font-size: 16px;
      position: relative;
      border: none;
      color: darken(white, 30%);
      transition: opacity 0.3s;
    }

    .form-icon-left {
      left: 15px;
    }

    .form-icon-right {
      right: 15px;
      left: auto;
    }
  }
}

.social-links {
  display: flex;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    transition: all 0.3s;
    color: black;
    text-decoration: none;
    svg {
      padding: 10px;
      font-size: -3px;
      align-items: center;
      justify-content: center;
      color: white;
      height: 20px;
      width: 20px;
      background: linear-gradient(90deg, #ff4955, #673ab7);
      border-radius: 30px;
      margin-right: 10px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      opacity: 0.8;
    }
  }
}

.form-shape-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;

  .form-shape {
    height: 50%;
    position: relative;

    &:first-child {
      background: linear-gradient(90deg, #ff4955, #673ab7);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      svg {
        path {
          fill: white;
        }
      }
    }
  }
}

// Mobile compatibility settings

@media (max-width: 500px) {
  .social-links {
    display: block;

    a {
      margin-bottom: 15px;
      justify-content: left;
    }
  }
}

@media (max-width: 992px) {
  .card {
    .row {
      .col {
        min-height: auto;
      }
    }
  }
}
