$color-facebook: #3b5998;
$color-twitter: #55acee;
$color-google: #db4437;
$color-pinterest: #bd081c;
$color-linkedin: #0077b5;
$color-dribbble: #ea4c89;
$color-github: #00405d;
$color-behance: #1769ff;
